.NavBar_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border: 1px solid #e7e7e7;*/
  background-color:rgb(241, 190, 205);
  }
  
 .NavBar_li {
    float: right;
  
  }

  .active {
    background-color: #4CAF50;
  }
  
  .NavBar_li_a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .NavBar_li_a:hover {background: rgb(194, 227, 220);}
  
  .NavBar_logout{
    background-color:transparent;  
    padding-top: 6.5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    
    font-size: 20px;
    cursor: pointer;
    align-items: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  .NavBar_logout:hover{background: rgb(194, 227, 220); }
  
  .stylush{
    width: 5%;
    height: auto;

}