#paymentTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #paymentTable td, .PaymentTable th {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
  }
  
  #paymentTable tr:nth-child(even){background-color: rgba(253, 227, 235, 0.788);}
  #paymentTable tr:nth-child(odd){background-color: rgba(235, 235, 245, 0.76);}
  
  #paymentTable tr:hover {background-color:rgb(241, 190, 205);}
  
  #paymentTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(174, 36, 76);
    color: white;
    text-align: center;
  }